@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bread-crumb">
    <div class="container">
        <div class="evo-main-title-breadcrumb text-center">Lấy lại mật khẩu</div>
        <ul class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li class="home" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a itemprop="item" href="@Url.Action("Index","BookStore")" title="Trang chủ">
                    <span itemprop="name">Trang chủ</span>
                    <meta itemprop="position" content="1" />
                </a>
            </li>

            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <strong itemprop="name">Lấy lại mật khẩu</strong>
                <meta itemprop="position" content="2" />
            </li>
        </ul>
    </div>
</section>

<div class="container margin-bottom-40 margin-top-40">
    <div class="d-none">
        <h1 class="title-head">Đăng nhập tài khoản</h1>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-7 col-md-12">
            <div class="page-login account-box-shadow">
                <div id="login" class="row">
                    <div class="col-lg-6 col-md-6 evo-account-content order-lg-last order-md-last order-sm-first order-first" style="margin-left:130px; width:500px;">
                        <ul class="auth-block__menu-list">
                            <li class="active">
                                <a href="#" title="Đăng nhập">Đăng nhập</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Register","Users")" title="Đăng ký">Đăng ký</a>
                            </li>
                        </ul>
                        <div id="evo-login">
                            @using (Html.BeginForm("ForgetPassword", "Users", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-signup">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <fieldset class="form-group margin-bottom-10">
                                        <label>Nhập Email để lấy lại mật khẩu<span class="required">*</span></label>
                                        <input placeholder="Nhập email" type="email" class="form-control form-control-lg" name="username" required data-validation-error-msg="Email không được để trống" data-validation="required" />
                                    </fieldset>
                                    <fieldset class="form-group margin-bottom-0">
                                        <label>Mật khẩu mới<span class="required">*</span></label>
                                        <input autocomplete="off" placeholder="Nhập Mật khẩu" type="password" class="form-control form-control-lg" name="password" required data-validation-error-msg="Mật khẩu không được để trống" data-validation="required" />
                                    </fieldset>
                                    <fieldset class="form-group margin-bottom-0">
                                        <label>Nhập lại mật khẩu mới<span class="required">*</span></label>
                                        <input autocomplete="off" placeholder="Nhập Mật khẩu" type="password" class="form-control form-control-lg" name="confirmPassword" required data-validation-error-msg="Mật khẩu không được để trống" data-validation="required" />
                                    </fieldset>
                                    <div class="clearfix"></div>
                                    <div class="pull-xs-left text-center" style="margin-top: 15px;">
                                        <button class="btn btn-style btn-blues" type="submit" value="Xác nhận">Xác nhận</button>
                                    </div>
                                    <p class="login--notes">BookStore cam kết bảo mật và sẽ không bao giờ đăng <br>hay chia sẻ thông tin mà chưa có được sự đồng ý của bạn.</p>
                                    
                                </div>
                            }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    @if (TempData["SweetAlertMessage"] != null)
    {
        <text>
        Swal.fire({
            title: '@TempData["SweetAlertMessage"]',
            icon: '@TempData["SweetAlertType"]',
            showConfirmButton: false,
            timer: 2000 // Thời gian hiển thị thông báo (ms)
        });
        </text>
    }
    </script>
