@model BookStores.Models.Customer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/Style/assets/css/app.min.css" rel="stylesheet">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="main-content" style="margin-top:50px;">
        <div class="container">
            <div class="tab-content m-t-15">
                <div class="tab-pane fade show active" id="tab-account">
                    <div class="card">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.idCustomer)
                        @Html.HiddenFor(model => model.codeCustomer)
                        <div class="card-header">
                            <h4 class="card-title">THÔNG TIN TÀI KHOẢN</h4>
                        </div>
                        <div class="card-body">
                            <div class="media align-items-center">
                                <div class="avatar avatar-image  m-h-10 m-r-15" style="height: 80px; width: 80px">
                                    <img src="assets/images/avatars/thumb-3.jpg" alt="">
                                </div>
                                <div class="m-l-20 m-r-20">
                                    <h5 class="m-b-5 font-size-18">Change Avatar</h5>
                                    <p class="opacity-07 font-size-13 m-b-0">
                                        Recommended Dimensions: <br>
                                        120x120 Max fil size: 5MB
                                    </p>
                                </div>
                                <div>
                                    <button class="btn btn-tone btn-primary">Upload</button>
                                </div>
                            </div>
                            <hr class="m-v-25">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="font-weight-semibold" for="userName">User Name:</label>
                                        <input type="text" class="form-control" name="nameCustomer" placeholder="User Name" value="@Model.nameCustomer">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="font-weight-semibold" for="email">Email:</label>
                                        <input type="email" class="form-control" name="email" placeholder="email" value="@Model.email">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="font-weight-semibold" for="email">Tài khoản:</label>
                                        <input type="text" class="form-control" name="userName" placeholder="email" value="@Model.userName">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="font-weight-semibold" for="email">Mật khẩu:</label>
                                        <input type="password" class="form-control" name="userName" placeholder="passWord" value="@Model.passWord">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label class="font-weight-semibold" for="phoneNumber">Phone Number:</label>
                                        <input type="text" class="form-control" name="phone" placeholder="Phone Number" value="@Model.phone">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="font-weight-semibold" for="dob">Date of Birth:</label>
                                        <input type="text" class="form-control" name="birthDay" placeholder="Date of Birth" value="@string.Format("{0:yyyy-MM-dd}",Model.birthDay)">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="font-weight-semibold" for="dob">Địa chỉ :</label>
                                        <input type="text" class="form-control" name="address" placeholder="Date of Birth" value="@Model.address">
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <button class="btn btn-primary m-t-30">Change</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
}