@model IEnumerable<BookStores.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int i = 0;
}

<div class="card" style="margin-top:75px;">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10">

                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <a href="@Url.Action("Create", "Customer")">
                    <button class="btn btn-primary btn-tone m-r-5">
                        <i class="anticon anticon-plus-circle m-r-5"></i>
                        Thêm mới khách hàng
                    </button>
                </a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>

                        <th>STT</th>
                        <th>Tên khách hàng</th>
                        <th>Mã khách hàng</th>
                        <th>Tài khoản</th>
                        <th>Email</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Ngày sinh</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        i++;
                        <tr>

                            <td>
                                #@i
                            </td>
                            <td>
                                <div class="d-flex align-items-center">

                                    <h6 class="m-b-0">@item.nameCustomer</h6>
                                </div>
                            </td>
                            <td>@item.codeCustomer</td>
                            <td>@item.userName</td>
                            <td>@item.email</td>
                            <td>@item.address</td>
                            <td>@item.phone</td>
                            <td>@string.Format("{0:dd-MM-yyyy}", item.birthDay)</td>
                            <td class="text-right">
                                <a href="@Url.Action("Edit","Customer", new {id = item.idCustomer})">
                                    <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                        <i class="anticon anticon-edit"></i>
                                    </button>
                                </a>
                                <a href="/Admin/Customer/Delete?id=@item.idCustomer">
                                    <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                        <i class="anticon anticon-delete"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>