<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-book"></i>
                    </span>
                    <span class="title">Quản lý Sách</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("Index", "Topic")">Danh sách chủ đề sách</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Books")">Danh sách sách</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "BookCategories")">Danh sách thể loại sách</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-file-text"></i>
                    </span>
                    <span class="title">Quản lý xuất bản</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("Index", "Publisher")">Danh sách nhà xuất bản</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Author")">Danh sách tác giả</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "WriteBooks")">Danh sách người viết sách</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="fas fa-user-lock"></i>
                    </span>
                    <span class="title">Quản lý users</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("Index", "Customer")">Danh sách User khách hàng</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "UserAdmins")">Danh sách User Admin</a>
                    </li>
                </ul>
            </li>


            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-shopping-cart"></i>
                    </span>
                    <span class="title">Quản lý hóa đơn</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>

                        <a href="@Url.Action("Index", "Orders")">Danh sách tất cả hóa đơn</a>
                    </li>
                    <li>
                        <a href="@Url.Action("OrderNon", "Orders")">Danh sách hóa đơn chưa xử lý</a>
                    </li>
                    <li>
                        <a href="@Url.Action("OrderInTransit", "Orders")">Danh sách hóa đơn đang giao</a>
                    </li>
                    <li>
                        <a href="@Url.Action("OrderSuccessfully", "Orders")">Danh sách hóa đơn giao thành công</a>
                    </li>
                    <li>
                        <a href="@Url.Action("OrderNonPay", "Orders")">Danh sách hóa đơn chưa thanh toán</a>
                    </li>

                </ul>
            </li>
        </ul>
    </div>
</div>

