@model BookStores.Models.Book
@{
    ViewBag.Title = "Chi Tiết Sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Style/assets/app.min.css" rel="stylesheet" />
    <section class="bread-crumb">
        <div class="container">
            <div class="evo-main-title-breadcrumb text-center">@Model.nameBooks</div>
            <ul class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li class="home" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="@Url.Action("Index","BookStore")" title="Trang chủ">
                        <span itemprop="name">Trang chủ</span>
                        <meta itemprop="position" content="1" />
                    </a>
                </li>


                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="@Url.Action("Index","BookStore")" title="Nệm">
                        <span itemprop="name">Bookstore</span>
                        <meta itemprop="position" content="2" />

                    </a>
                </li>

                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <strong>
                        <span itemprop="name">@Model.nameBooks</span>
                        <meta itemprop="position" content="3" />
                    </strong>
                </li>

            </ul>
        </div>
    </section>
    <section class="container ant-product-page product product-margin" itemscope itemtype="http://schema.org/Product">

        <div class="evo-bg">
            <div class="row ant-image-and-info-product">
                <div class="col-xl-6 col-lg-6 col-md-12 col-12 ant-mobile-padding">
                    <div class="product-image-block relative">

                        <div class="swiper-container gallery-top">
                            <div class="swiper-wrapper" id="lightgallery">

                                <a class="swiper-slide" data-hash="0" href="~/Areas/Style/Images/ImagesBooks/@Model.Thumb" title="Click để xem">
                                    <img height="480" width="480" src="~/Areas/Style/Images/ImagesBooks/@Model.Thumb" alt="@Model.nameBooks" data-image="~/Areas/Style/Images/ImagesBooks/@Model.Thumb" class="img-responsive mx-auto d-block swiper-lazy" />
                                </a>


                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-12 details-pro">
                    <div class="ant-info-product">
                        <h1 class="title-head">@Model.nameBooks</h1>


                        <div>

                            <div class="inventory_quantity d-none">

                                <span class="a-stock a2">Còn hàng</span>

                            </div>
                            <div class="price-box clearfix">

                                <span class="special-price">
                                    <span class="price product-price">@string.Format("{0:#,0 VNĐ}", Model.price)</span>
                                </span>

                            </div>
                        </div>

                        <div class="summary">
                            <p>
                                @Model.describe
                            </p>
                        </div>
                        <div class="form-groups clearfix">
                      
                            <div class="btn-mua">
                                <a href="@Url.Action("AddCart","Cart", new { ms = Model.idBooks, url = Request.Url.ToString() })">
                                    <button class="btn btn-primary btn-tone m-r-5" style="text-align: center">
                                        Thêm vào giỏ hàng
                                    </button>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="ant-product-tab">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" title="Thông tin sản phẩm">Thông tin sản phẩm</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">



                    <p>- Mua hàng <strong>ONLINE</strong>: Quý khách chỉ cần Click vào nút <u><strong>THÊM VÀO GIỎ HÀNG</strong></u> và vào giỏ hàng check sản phẩm trước khi đặt hàng</p>
                    <p>- Gọi hoặc nhắn tin tới SĐT: <span style="font-size:16px;"><strong><u>0354.453.116</u></strong></span> để được&nbsp;tư vấn&nbsp;mua hàng</p>
                    <p>
                        <br />
                        
                    </p>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
}


<div class="backdrop__body-backdrop___1rvky"></div>
<link rel="preload" as="script" href="~/Style/bizweb.dktcdn.net/100/147/060/themes/880570/assets/api-jqueryb828.js?1687579687145" />
<script src="~/Style/bizweb.dktcdn.net/100/147/060/themes/880570/assets/api-jqueryb828.js?1687579687145" type="text/javascript"></script>


<link rel="preload" as="script" href="~/Style/bizweb.dktcdn.net/100/147/060/themes/880570/assets/evo-productb828.js?1687579687145" />
<script src="~/Style/bizweb.dktcdn.net/100/147/060/themes/880570/assets/evo-productb828.js?1687579687145" type="text/javascript"></script>
<link rel="preload" as="style" type="text/css" href="~/Style/bizweb.dktcdn.net/100/147/060/themes/880570/assets/picbox.scssb828.css?1687579687145" />
<link href="~/Style/bizweb.dktcdn.net/100/147/060/themes/880570/assets/picbox.scssb828.css?1687579687145" rel="stylesheet" type="text/css" media="all" />
<link rel="preload" as="script" href="~/Style/bizweb.dktcdn.net/100/147/060/themes/880570/assets/picboxb828.js?1687579687145" />
<script src="~/Style/bizweb.dktcdn.net/100/147/060/themes/880570/assets/picboxb828.js?1687579687145" type="text/javascript"></script>






