@model IEnumerable<BookStores.Models.Book>
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="awe-section-1">
    <div class="home-slider swiper-container gallery-top">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <a href="#" class="clearfix" title="BookStore">
                    <picture>
                        <source media="(min-width: 1200px)"
                                srcset="~/Style/bizweb.dktcdn.net/100/147/060/themes/880570/assets/Bookstore.webp?1687579687145">
                        <source media="(min-width: 992px)"
                                srcset="~/Style/bizweb.dktcdn.net/100/147/060/themes/880570/assets/Bookstore.webp?1687579687145">
                        <source media="(min-width: 569px)"
                                srcset="~/Style/bizweb.dktcdn.net/100/147/060/themes/880570/assets/Bookstore.webp?1687579687145">
                        <source media="(max-width: 567px)"
                                srcset="~/Style/bizweb.dktcdn.net/100/147/060/themes/880570/assets/Bookstore.webp?1687579687145">

                    </picture>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="clearfix" title="BookStore">
                    <picture>
                        <source media="(min-width: 1200px)"
                                srcset="~/Style/bizweb.dktcdn.net/100/147/060/themes/880570/assets/BookstoreHead.jpeg?1687579687145">
                        <source media="(min-width: 992px)"
                                srcset="~/Style/bizweb.dktcdn.net/100/147/060/themes/880570/assets/BookstoreHead.jpeg?1687579687145">
                        <source media="(min-width: 569px)"
                                srcset="~/Style/bizweb.dktcdn.net/100/147/060/themes/880570/assets/BookstoreHead.jpeg?1687579687145">
                        <source media="(max-width: 567px)"
                                srcset="~/Style/bizweb.dktcdn.net/100/147/060/themes/880570/assets/BookstoreHead.jpeg?1687579687145">
                        <img style="height: 500px;width: 100%;" src="~/Style/bizweb.dktcdnd.net/thumb/grande/100/147/060/themes/880570/assets/BookstoreHead.jpeg?1687579687145" alt="/" class="img-responsive center-block d-block mx-auto" />

                    </picture>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="clearfix" title="BookStore">
                    <picture>
                        <source media="(min-width: 1200px)"
                                srcset="~/Style/bizweb.dktcdn.net/100/147/060/themes/880570/assets/bookstoreshead2.jpg?1687579687145">
                        <source media="(min-width: 992px)"
                                srcset="~/Style/bizweb.dktcdn.net/100/147/060/themes/880570/assets/bookstoreshead2.jpg?1687579687145">
                        <source media="(min-width: 569px)"
                                srcset="~/Style/bizweb.dktcdn.net/100/147/060/themes/880570/assets/bookstoreshead2.jpg?1687579687145">
                        <source media="(max-width: 567px)"
                                srcset="~/Style/bizweb.dktcdn.net/100/147/060/themes/880570/assets/bookstoreshead2.jpg?1687579687145">
                        <img style="height: 500px;width: 100%;" src="~/Style/bizweb.dktcdn.net/thumb/grande/100/147/060/themes/880570/assets/bookstoreshead2.jpg?1687579687145" alt="/" class="img-responsive center-block d-block mx-auto" />
                    </picture>
                </a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <script>
    var swiper = new Swiper('.home-slider', {
            autoplay: {
                delay: 4500,
                disableOnInteraction: false
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            }
        });</script>
</section>
<div class="container">
    <div class="bg-white">
        <section class="awe-section-1s">
            <div class="ant-categories row">

            </div>
        </section>
        <section class="awe-section-2s">
            <link rel="preload" as="script" href="~/Style/bizweb.dktcdn.net/100/147/060/themes/880570/assets/flipclockb828.js?1687579687145" />
            <script src="~/Style/bizweb.dktcdn.net/100/147/060/themes/880570/assets/flipclockb828.js?1687579687145" type="text/javascript"></script>
            <div class="ant-block-product">
                <div class="ant-block-product-title">
                    <a class="ant-titles" href="san-pham-noi-bat.html" title="Sách nổi bật"><img src="~/Style/bizweb.dktcdn.net/100/147/060/themes/880570/assets/Logo_Bookstore.png?1687579687145" alt="Sách nổi bật " height="64" width="64" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" class="lazy img-responsive" /> Sách nổi bật</a>
                    <div class="timer">
                        <div class="time" data-countdown="countdown" data-date="12-25-2022-09-15-45"></div>
                    </div>
                </div>

                <div class="ant-swiper-product row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-15 col-md-15 col-sm-4 col-6">


                            <div class="evo-product-block-item">
                                <a href="@Url.Action("BookDetail","BookStore", new {id=item.idBooks})" title="@item.nameBooks" class="product-transition">
                                    <img src="~/Areas/Style/Images/ImagesBooks/@item.Thumb" style="image-rendering: pixelated; opacity: 1;" />
                                </a>
                                <div class="product-info">
                                    <a href="@Url.Action("BookDetail","BookStore", new {id=item.idBooks})" title="@item.nameBooks" class="ant-item-product-name">@item.nameBooks</a>
                                    <div class="product__price">


                                        <span class="price">@string.Format("{0:#,0 VNĐ}", item.price)</span>


                                    </div>
                                </div>
                                <form class="group-buttons d-flex align-items-center justify-content-center variants form-nut-grid form-ajaxtocart">


                                    <input type="hidden" name="variantId" value="60462122" />
                                    <a href="@Url.Action("AddCart","Cart", new { ms = item.idBooks, url = Request.Url.ToString() })" class="action add_to_cart cart-button" rel="nofollow" title="Mua ngay">Mua ngay</a>


                                </form>
                            </div>
                            
                        </div>
                    }
                  
                    <div class="ant-block-list-product">
                        <div class="ant-similar-product-swiper swiper-container">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide">


                                </div>
                            </div>

                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
    </div>
    <script>
var swiper = new Swiper('.ant-similar-product-swiper', {
	slidesPerView: 4,
	spaceBetween: 15,
	slidesPerGroup: 2,
	navigation: {
		nextEl: '.swiper-button-next',
		prevEl: '.swiper-button-prev',
	},
	breakpoints: {
		300: {
			slidesPerView: 2,
			spaceBetween: 7,
		},
		500: {
			slidesPerView: 2,
			spaceBetween: 10,
		},
		640: {
			slidesPerView: 2,
			spaceBetween: 10,
		},
		768: {
			slidesPerView: 3,
			spaceBetween: 10,
		},
		1024: {
			slidesPerView: 4,
			spaceBetween: 15,
		},
		1200: {
			slidesPerView: 5,
			spaceBetween: 15,
		}
	}
});</script>
    </section>


    <!--

    <section class="awe-section-2s">
        <div class="container">
        <div class="ant_feature_collection">
            <a href="collections/all.html" title="Petshop">
                <picture>
                    <source
                            media="(min-width: 768px)"
                            srcset="//bizweb.dktcdn.net/100/147/060/themes/880570/assets/feature_banner.jpg?1687579687145">
                    <source
                            media="(max-width: 767px)"
                            srcset="//bizweb.dktcdn.net/100/147/060/themes/880570/assets/feature_banner_mb.jpg?1687579687145">
                    <img class="lazy" height="200" width="1600" src="//bizweb.dktcdn.net/100/147/060/themes/880570/assets/feature_banner.jpg?1687579687145" alt="Petshop" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" />
                </picture>
            </a>
        </div>
    </div>
    </section>
    -->
    <!--

    <section class="awe-section-3s">
        <div class="container section_product_3">
        <div class="bg-white2">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-margin">
                    <a href="collections/all.html" title="Petshop">
                        <picture>
                            <source
                                    media="(min-width: 768px)"
                                    srcset="//bizweb.dktcdn.net/100/147/060/themes/880570/assets/evo_block_product_banner_3.jpg?1687579687145">
                            <source
                                    media="(max-width: 767px)"
                                    srcset="//bizweb.dktcdn.net/100/147/060/themes/880570/assets/evo_block_product_banner_mb_3.jpg?1687579687145">
                            <img class="lazy" src="//bizweb.dktcdn.net/100/147/060/themes/880570/assets/evo_block_product_banner_3.jpg?1687579687145" alt="Petshop" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" />
                        </picture>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 mb-margin">
                    <a href="phong-ngu.html" title="Phòng ngủ " class="section-title">null</a>

                    <div class="fix-item-mobile">
            -->
    <!---
    <div class="evo-product-block-item evo-product-block-item-small">
        <a href="bo-chan-ga-goi-boc-gau-grizzly-17.html" title="Bộ chăn ga gối (bọc) Gấu Grizzly (1.6*2m)" class="product__box-image">
            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" src="//bizweb.dktcdn.net/thumb/medium/100/147/060/products/ed1e0889-099f-4882-ba4b-a09d7741fbab-41cb5cf8-65b1-41e0-8a3e-c7b23d6dcbb5.png?v=1650979730800" alt="Bộ chăn ga gối (bọc) Gấu Grizzly (1.6*2m)" />
        </a>
        <div class="evo-product-right">
            <a href="bo-chan-ga-goi-boc-gau-grizzly-17.html" title="Bộ chăn ga gối (bọc) Gấu Grizzly (1.6*2m)" class="product__box-name">Bộ chăn ga gối (bọc) Gấu Grizzly (1.6*2m)</a>
            <div class="product__box-price">


                <span class="price">3.949.000₫</span>


            </div>
            <form action="https://petshop.vn/cart/add" method="post" enctype="multipart/form-data" class="group-buttons align-items-center justify-content-center variants form-nut-grid form-ajaxtocart" data-id="product-actions-24831627">


                <input type="hidden" name="variantId" value="60462178" />
                <a href="bo-chan-ga-goi-boc-gau-grizzly-17.html" class="action add_to_cart cart-button" rel="nofollow" title="Mua ngay">Mua ngay</a>


            </form>
        </div>
    </div>
    -->
    <!--
    <div class="evo-product-block-item evo-product-block-item-small">
        <a href="bo-chan-ga-goi-boc-hoa-kiki-kaikai-29.html" title="Bộ chăn ga gối (bọc) Hoa Kiki Kaikai (1.6*2m)" class="product__box-image">
            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" src="//bizweb.dktcdn.net/thumb/medium/100/147/060/products/bai-117-p-2-43c02b2f-7b85-4cbe-ae5a-563b0c62edc4.png?v=1646295554843" alt="Bộ chăn ga gối (bọc) Hoa Kiki Kaikai (1.6*2m)" />
        </a>
        <div class="evo-product-right">
            <a href="bo-chan-ga-goi-boc-hoa-kiki-kaikai-29.html" title="Bộ chăn ga gối (bọc) Hoa Kiki Kaikai (1.6*2m)" class="product__box-name">Bộ chăn ga gối (bọc) Hoa Kiki Kaikai (1.6*2m)</a>
            <div class="product__box-price">


                <span class="price">4.149.000₫</span>


            </div>
            <form action="https://petshop.vn/cart/add" method="post" enctype="multipart/form-data" class="group-buttons align-items-center justify-content-center variants form-nut-grid form-ajaxtocart" data-id="product-actions-24831606">


                <input type="hidden" name="variantId" value="60462157" />
                <a href="bo-chan-ga-goi-boc-hoa-kiki-kaikai-29.html" class="action add_to_cart cart-button" rel="nofollow" title="Mua ngay">Mua ngay</a>


            </form>
        </div>
    </div>

    <div class="evo-product-block-item evo-product-block-item-small">
        <a href="bo-chan-ga-goi-boc-gau-grizzly-16.html" title="Bộ chăn ga gối (bọc) Gấu Grizzly (1.6*2m)" class="product__box-image">
            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" src="//bizweb.dktcdn.net/thumb/medium/100/147/060/products/ed1e0889-099f-4882-ba4b-a09d7741fbab-1c87a690-382e-44a2-8422-570bb7b59250.png?v=1650979722583" alt="Bộ chăn ga gối (bọc) Gấu Grizzly (1.6*2m)" />
        </a>
        <div class="evo-product-right">
            <a href="bo-chan-ga-goi-boc-gau-grizzly-16.html" title="Bộ chăn ga gối (bọc) Gấu Grizzly (1.6*2m)" class="product__box-name">Bộ chăn ga gối (bọc) Gấu Grizzly (1.6*2m)</a>
            <div class="product__box-price">


                <span class="price">3.949.000₫</span>


            </div>
            <form action="https://petshop.vn/cart/add" method="post" enctype="multipart/form-data" class="group-buttons align-items-center justify-content-center variants form-nut-grid form-ajaxtocart" data-id="product-actions-24831604">


                <input type="hidden" name="variantId" value="60462155" />
                <a href="bo-chan-ga-goi-boc-gau-grizzly-16.html" class="action add_to_cart cart-button" rel="nofollow" title="Mua ngay">Mua ngay</a>


            </form>
        </div>
    </div>

                    </div>

                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="vat-dung-nha-bep.html" title="Phòng bếp" class="section-title"><span>Phòng bếp</span></a>

                    <div class="fix-item-mobile">

















    <div class="evo-product-block-item evo-product-block-item-small">
        <a href="khan-bep-dfz-131-1.html" title="Khăn bếp DFZ-131" class="product__box-image">
            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" src="//bizweb.dktcdn.net/thumb/medium/100/147/060/products/1038019dfz-131-155-jpeg.jpg?v=1478254031860" alt="Khăn bếp DFZ-131" />
        </a>
        <div class="evo-product-right">
            <a href="khan-bep-dfz-131-1.html" title="Khăn bếp DFZ-131" class="product__box-name">Khăn bếp DFZ-131</a>
            <div class="product__box-price">


                <span class="price">190.000₫</span>


            </div>
            <form action="https://petshop.vn/cart/add" method="post" enctype="multipart/form-data" class="group-buttons align-items-center justify-content-center variants form-nut-grid form-ajaxtocart" data-id="product-actions-4627576">


                <input type="hidden" name="variantId" value="7485592" />
                <a href="khan-bep-dfz-131-1.html" class="action add_to_cart cart-button" rel="nofollow" title="Mua ngay">Mua ngay</a>


            </form>
        </div>
    </div>

















    <div class="evo-product-block-item evo-product-block-item-small">
        <a href="khan-bep-nz-716-1.html" title="Khăn bếp NZ-716" class="product__box-image">
            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" src="//bizweb.dktcdn.net/thumb/medium/100/147/060/products/1358620nz-716-145-jpeg.jpg?v=1478254028203" alt="Khăn bếp NZ-716" />
        </a>
        <div class="evo-product-right">
            <a href="khan-bep-nz-716-1.html" title="Khăn bếp NZ-716" class="product__box-name">Khăn bếp NZ-716</a>
            <div class="product__box-price">


                <span class="price">145.000₫</span>


            </div>
            <form action="https://petshop.vn/cart/add" method="post" enctype="multipart/form-data" class="group-buttons align-items-center justify-content-center variants form-nut-grid form-ajaxtocart" data-id="product-actions-4627572">


                <input type="hidden" name="variantId" value="7485588" />
                <a href="khan-bep-nz-716-1.html" class="action add_to_cart cart-button" rel="nofollow" title="Mua ngay">Mua ngay</a>


            </form>
        </div>
    </div>

















    <div class="evo-product-block-item evo-product-block-item-small">
        <a href="tui-treo-tuong-doz-100.html" title="T&#250;i treo tường DOZ-100" class="product__box-image">
            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" src="//bizweb.dktcdn.net/thumb/medium/100/147/060/products/3137174doz-100-260-jpeg.jpg?v=1478254020950" alt="T&#250;i treo tường DOZ-100" />
        </a>
        <div class="evo-product-right">
            <a href="tui-treo-tuong-doz-100.html" title="T&#250;i treo tường DOZ-100" class="product__box-name">T&#250;i treo tường DOZ-100</a>
            <div class="product__box-price">


                <span class="price">330.000₫</span>


            </div>
            <form action="https://petshop.vn/cart/add" method="post" enctype="multipart/form-data" class="group-buttons align-items-center justify-content-center variants form-nut-grid form-ajaxtocart" data-id="product-actions-4627571">


                <input type="hidden" name="variantId" value="7485587" />
                <a href="tui-treo-tuong-doz-100.html" class="action add_to_cart cart-button" rel="nofollow" title="Mua ngay">Mua ngay</a>


            </form>
        </div>
    </div>

                    </div>

                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="phu-kien-thoi-trang.html" title="Phụ kiện & Thời Trang" class="section-title"><span>Phụ kiện & Thời Trang</span></a>

                    <div class="fix-item-mobile">

















    <div class="evo-product-block-item evo-product-block-item-small">
        <a href="balo-nguoi-lon-dbg-189.html" title="BALO  DBG-189" class="product__box-image">
            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" src="//bizweb.dktcdn.net/thumb/medium/100/147/060/products/dbg-189-1.jpg?v=1629180304330" alt="BALO  DBG-189" />
        </a>
        <div class="evo-product-right">
            <a href="balo-nguoi-lon-dbg-189.html" title="BALO  DBG-189" class="product__box-name">BALO  DBG-189</a>
            <div class="product__box-price">


                <span class="price">429.000₫</span>


            </div>
            <form action="https://petshop.vn/cart/add" method="post" enctype="multipart/form-data" class="group-buttons align-items-center justify-content-center variants form-nut-grid form-ajaxtocart" data-id="product-actions-22717902">


                <input type="hidden" name="variantId" value="50277411" />
                <a href="balo-nguoi-lon-dbg-189.html" class="action add_to_cart cart-button" rel="nofollow" title="Mua ngay">Mua ngay</a>


            </form>
        </div>
    </div>

















    <div class="evo-product-block-item evo-product-block-item-small">
        <a href="khau-trang-dhz-036-s-m-l.html" title="KHẨU TRANG DHZ-036( S,M,L)" class="product__box-image">
            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" src="//bizweb.dktcdn.net/thumb/medium/100/147/060/products/dhz-036.jpg?v=1624172117387" alt="KHẨU TRANG DHZ-036( S,M,L)" />
        </a>
        <div class="evo-product-right">
            <a href="khau-trang-dhz-036-s-m-l.html" title="KHẨU TRANG DHZ-036( S,M,L)" class="product__box-name">KHẨU TRANG DHZ-036( S,M,L)</a>
            <div class="product__box-price">


                <span class="price">55.000₫</span>


            </div>
            <form action="https://petshop.vn/cart/add" method="post" enctype="multipart/form-data" class="group-buttons align-items-center justify-content-center variants form-nut-grid form-ajaxtocart" data-id="product-actions-22061112">


                <input type="hidden" name="variantId" value="47560238" />
                <a href="khau-trang-dhz-036-s-m-l.html" class="action add_to_cart cart-button" rel="nofollow" title="Mua ngay">Mua ngay</a>


            </form>
        </div>
    </div>

















    <div class="evo-product-block-item evo-product-block-item-small">
        <a href="bop-vi-gap-dz-786.html" title="B&#243;p v&#237; gấp - DZ-786" class="product__box-image">
            <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" src="//bizweb.dktcdn.net/thumb/medium/100/147/060/products/1w-b384e426-741d-4af4-aaa5-558abbb7e5e0.jpg?v=1568950261820" alt="B&#243;p v&#237; gấp - DZ-786" />
        </a>
        <div class="evo-product-right">
            <a href="bop-vi-gap-dz-786.html" title="B&#243;p v&#237; gấp - DZ-786" class="product__box-name">B&#243;p v&#237; gấp - DZ-786</a>
            <div class="product__box-price">


                <span class="price">185.000₫</span>


            </div>
            <form action="https://petshop.vn/cart/add" method="post" enctype="multipart/form-data" class="group-buttons align-items-center justify-content-center variants form-nut-grid form-ajaxtocart" data-id="product-actions-15836105">


                <input type="hidden" name="variantId" value="27700344" />
                <a href="bop-vi-gap-dz-786.html" class="action add_to_cart cart-button" rel="nofollow" title="Mua ngay">Mua ngay</a>


            </form>
        </div>
    </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    </section>




    <section class="awe-section-4s">
        <div class="container ant-block-tab-product">
        <div class="bg-white2 e-tabs not-dqtab ajax-tab-1" data-section="ajax-tab-1" data-view="grid_4">
            <div class="content">
                <div class="titlecp clearfix">
                    <h3><span>Bộ sưu tập</span></h3>
                    <ul class="tabs tabs-title tab-desktop ajax clearfix">

                        <li class="tab-link has-content" data-tab="tab-1" data-url="/hanh-trang-den-truong">
                            <span title="Hành trang đến trường">Hành trang đến trường</span>
                        </li>

                        <li class="tab-link " data-tab="tab-2" data-url="/hanh-trang-cong-so">
                            <span title="Hành trang công sở">Hành trang công sở</span>
                        </li>

                        <li class="tab-link " data-tab="tab-3" data-url="/xuan-vui-sac-mau-2023">
                            <span title="Xuân vui sắc màu 2023">Xuân vui sắc màu 2023</span>
                        </li>

                    </ul>
                </div>

                <div class="tab-1 tab-content">

                    <div class="evo-owl-product2 swiper-container products-view-grid">




                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
















    <div class="evo-product-block-item">
        <a href="javascript:void(0)" title="Yêu thích" data-handle="ba-lo-tre-em-dbg-10m" class="action btn-compare js-btn-wishlist">
            <svg x="0px" y="0px"
                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <path d="M474.644,74.27C449.391,45.616,414.358,29.836,376,29.836c-53.948,0-88.103,32.22-107.255,59.25
                         c-4.969,7.014-9.196,14.047-12.745,20.665c-3.549-6.618-7.775-13.651-12.745-20.665c-19.152-27.03-53.307-59.25-107.255-59.25
                         c-38.358,0-73.391,15.781-98.645,44.435C13.267,101.605,0,138.213,0,177.351c0,42.603,16.633,82.228,52.345,124.7
                         c31.917,37.96,77.834,77.088,131.005,122.397c19.813,16.884,40.302,34.344,62.115,53.429l0.655,0.574
                         c2.828,2.476,6.354,3.713,9.88,3.713s7.052-1.238,9.88-3.713l0.655-0.574c21.813-19.085,42.302-36.544,62.118-53.431
                         c53.168-45.306,99.085-84.434,131.002-122.395C495.367,259.578,512,219.954,512,177.351
                         C512,138.213,498.733,101.605,474.644,74.27z M309.193,401.614c-17.08,14.554-34.658,29.533-53.193,45.646
                         c-18.534-16.111-36.113-31.091-53.196-45.648C98.745,312.939,30,254.358,30,177.351c0-31.83,10.605-61.394,29.862-83.245
                         C79.34,72.007,106.379,59.836,136,59.836c41.129,0,67.716,25.338,82.776,46.594c13.509,19.064,20.558,38.282,22.962,45.659
                         c2.011,6.175,7.768,10.354,14.262,10.354c6.494,0,12.251-4.179,14.262-10.354c2.404-7.377,9.453-26.595,22.962-45.66
                         c15.06-21.255,41.647-46.593,82.776-46.593c29.621,0,56.66,12.171,76.137,34.27C471.395,115.957,482,145.521,482,177.351
                         C482,254.358,413.255,312.939,309.193,401.614z"/>
            </svg>
        </a>
        <a href="ba-lo-tre-em-dbg-10m.html" title="BALO TH&#218; CƯNG- H&#192;NH TRANG CHO B&#201; DBG-10M" class="product-transition">
            <img class="product-thumbnail lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" src="//bizweb.dktcdn.net/thumb/large/100/147/060/products/logo-moi-11.jpg?v=1629206136783" alt="BALO TH&#218; CƯNG- H&#192;NH TRANG CHO B&#201; DBG-10M" />
        </a>
        <div class="product-info">
            <a href="ba-lo-tre-em-dbg-10m.html" title="BALO TH&#218; CƯNG- H&#192;NH TRANG CHO B&#201; DBG-10M" class="ant-item-product-name">BALO TH&#218; CƯNG- H&#192;NH TRANG CHO B&#201; DBG-10M</a>
            <div class="product__price">


                <span class="price">369.000₫</span>


            </div>
        </div>
        <form action="https://petshop.vn/cart/add" method="post" enctype="multipart/form-data" class="group-buttons d-flex align-items-center justify-content-center variants form-nut-grid form-ajaxtocart" data-id="product-actions-22720243">


            <input type="hidden" name="variantId" value="50285266" />
            <a href="ba-lo-tre-em-dbg-10m.html" class="action add_to_cart cart-button" rel="nofollow" title="Mua ngay">Mua ngay</a>


        </form>
    </div>
                            </div>


                            <div class="swiper-slide">
















    <div class="evo-product-block-item">
        <a href="javascript:void(0)" title="Yêu thích" data-handle="ba-lo-tre-em-dbg-556-1" class="action btn-compare js-btn-wishlist">
            <svg x="0px" y="0px"
                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <path d="M474.644,74.27C449.391,45.616,414.358,29.836,376,29.836c-53.948,0-88.103,32.22-107.255,59.25
                         c-4.969,7.014-9.196,14.047-12.745,20.665c-3.549-6.618-7.775-13.651-12.745-20.665c-19.152-27.03-53.307-59.25-107.255-59.25
                         c-38.358,0-73.391,15.781-98.645,44.435C13.267,101.605,0,138.213,0,177.351c0,42.603,16.633,82.228,52.345,124.7
                         c31.917,37.96,77.834,77.088,131.005,122.397c19.813,16.884,40.302,34.344,62.115,53.429l0.655,0.574
                         c2.828,2.476,6.354,3.713,9.88,3.713s7.052-1.238,9.88-3.713l0.655-0.574c21.813-19.085,42.302-36.544,62.118-53.431
                         c53.168-45.306,99.085-84.434,131.002-122.395C495.367,259.578,512,219.954,512,177.351
                         C512,138.213,498.733,101.605,474.644,74.27z M309.193,401.614c-17.08,14.554-34.658,29.533-53.193,45.646
                         c-18.534-16.111-36.113-31.091-53.196-45.648C98.745,312.939,30,254.358,30,177.351c0-31.83,10.605-61.394,29.862-83.245
                         C79.34,72.007,106.379,59.836,136,59.836c41.129,0,67.716,25.338,82.776,46.594c13.509,19.064,20.558,38.282,22.962,45.659
                         c2.011,6.175,7.768,10.354,14.262,10.354c6.494,0,12.251-4.179,14.262-10.354c2.404-7.377,9.453-26.595,22.962-45.66
                         c15.06-21.255,41.647-46.593,82.776-46.593c29.621,0,56.66,12.171,76.137,34.27C471.395,115.957,482,145.521,482,177.351
                         C482,254.358,413.255,312.939,309.193,401.614z"/>
            </svg>
        </a>
        <a href="ba-lo-tre-em-dbg-556-1.html" title="BALO TH&#218; CƯNG- H&#192;NH TRANG CHO B&#201; DBG-556" class="product-transition">
            <img class="product-thumbnail lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" src="//bizweb.dktcdn.net/thumb/large/100/147/060/products/dbg-556-6.jpg?v=1629205037137" alt="BALO TH&#218; CƯNG- H&#192;NH TRANG CHO B&#201; DBG-556" />
        </a>
        <div class="product-info">
            <a href="ba-lo-tre-em-dbg-556-1.html" title="BALO TH&#218; CƯNG- H&#192;NH TRANG CHO B&#201; DBG-556" class="ant-item-product-name">BALO TH&#218; CƯNG- H&#192;NH TRANG CHO B&#201; DBG-556</a>
            <div class="product__price">


                <span class="price">359.000₫</span>


            </div>
        </div>
        <form action="https://petshop.vn/cart/add" method="post" enctype="multipart/form-data" class="group-buttons d-flex align-items-center justify-content-center variants form-nut-grid form-ajaxtocart" data-id="product-actions-22720153">


            <input type="hidden" name="variantId" value="50285132" />
            <a href="ba-lo-tre-em-dbg-556-1.html" class="action add_to_cart cart-button" rel="nofollow" title="Mua ngay">Mua ngay</a>


        </form>
    </div>
                            </div>


                            <div class="swiper-slide">
















    <div class="evo-product-block-item">
        <a href="javascript:void(0)" title="Yêu thích" data-handle="ba-lo-tre-em-dbg-380-1" class="action btn-compare js-btn-wishlist">
            <svg x="0px" y="0px"
                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <path d="M474.644,74.27C449.391,45.616,414.358,29.836,376,29.836c-53.948,0-88.103,32.22-107.255,59.25
                         c-4.969,7.014-9.196,14.047-12.745,20.665c-3.549-6.618-7.775-13.651-12.745-20.665c-19.152-27.03-53.307-59.25-107.255-59.25
                         c-38.358,0-73.391,15.781-98.645,44.435C13.267,101.605,0,138.213,0,177.351c0,42.603,16.633,82.228,52.345,124.7
                         c31.917,37.96,77.834,77.088,131.005,122.397c19.813,16.884,40.302,34.344,62.115,53.429l0.655,0.574
                         c2.828,2.476,6.354,3.713,9.88,3.713s7.052-1.238,9.88-3.713l0.655-0.574c21.813-19.085,42.302-36.544,62.118-53.431
                         c53.168-45.306,99.085-84.434,131.002-122.395C495.367,259.578,512,219.954,512,177.351
                         C512,138.213,498.733,101.605,474.644,74.27z M309.193,401.614c-17.08,14.554-34.658,29.533-53.193,45.646
                         c-18.534-16.111-36.113-31.091-53.196-45.648C98.745,312.939,30,254.358,30,177.351c0-31.83,10.605-61.394,29.862-83.245
                         C79.34,72.007,106.379,59.836,136,59.836c41.129,0,67.716,25.338,82.776,46.594c13.509,19.064,20.558,38.282,22.962,45.659
                         c2.011,6.175,7.768,10.354,14.262,10.354c6.494,0,12.251-4.179,14.262-10.354c2.404-7.377,9.453-26.595,22.962-45.66
                         c15.06-21.255,41.647-46.593,82.776-46.593c29.621,0,56.66,12.171,76.137,34.27C471.395,115.957,482,145.521,482,177.351
                         C482,254.358,413.255,312.939,309.193,401.614z"/>
            </svg>
        </a>
        <a href="ba-lo-tre-em-dbg-380-1.html" title="BALO TH&#218; CƯNG- H&#192;NH TRANG CHO B&#201;  DBG-380" class="product-transition">
            <img class="product-thumbnail lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" src="//bizweb.dktcdn.net/thumb/large/100/147/060/products/dbg-380-1.jpg?v=1629203783317" alt="BALO TH&#218; CƯNG- H&#192;NH TRANG CHO B&#201;  DBG-380" />
        </a>
        <div class="product-info">
            <a href="ba-lo-tre-em-dbg-380-1.html" title="BALO TH&#218; CƯNG- H&#192;NH TRANG CHO B&#201;  DBG-380" class="ant-item-product-name">BALO TH&#218; CƯNG- H&#192;NH TRANG CHO B&#201;  DBG-380</a>
            <div class="product__price">


                <span class="price">479.000₫</span>


            </div>
        </div>
        <form action="https://petshop.vn/cart/add" method="post" enctype="multipart/form-data" class="group-buttons d-flex align-items-center justify-content-center variants form-nut-grid form-ajaxtocart" data-id="product-actions-22720077">


            <input type="hidden" name="variantId" value="50285031" />
            <a href="ba-lo-tre-em-dbg-380-1.html" class="action add_to_cart cart-button" rel="nofollow" title="Mua ngay">Mua ngay</a>


        </form>
    </div>
                            </div>


                            <div class="swiper-slide">
















    <div class="evo-product-block-item">
        <a href="javascript:void(0)" title="Yêu thích" data-handle="ba-lo-tre-em-dobg-148-1" class="action btn-compare js-btn-wishlist">
            <svg x="0px" y="0px"
                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <path d="M474.644,74.27C449.391,45.616,414.358,29.836,376,29.836c-53.948,0-88.103,32.22-107.255,59.25
                         c-4.969,7.014-9.196,14.047-12.745,20.665c-3.549-6.618-7.775-13.651-12.745-20.665c-19.152-27.03-53.307-59.25-107.255-59.25
                         c-38.358,0-73.391,15.781-98.645,44.435C13.267,101.605,0,138.213,0,177.351c0,42.603,16.633,82.228,52.345,124.7
                         c31.917,37.96,77.834,77.088,131.005,122.397c19.813,16.884,40.302,34.344,62.115,53.429l0.655,0.574
                         c2.828,2.476,6.354,3.713,9.88,3.713s7.052-1.238,9.88-3.713l0.655-0.574c21.813-19.085,42.302-36.544,62.118-53.431
                         c53.168-45.306,99.085-84.434,131.002-122.395C495.367,259.578,512,219.954,512,177.351
                         C512,138.213,498.733,101.605,474.644,74.27z M309.193,401.614c-17.08,14.554-34.658,29.533-53.193,45.646
                         c-18.534-16.111-36.113-31.091-53.196-45.648C98.745,312.939,30,254.358,30,177.351c0-31.83,10.605-61.394,29.862-83.245
                         C79.34,72.007,106.379,59.836,136,59.836c41.129,0,67.716,25.338,82.776,46.594c13.509,19.064,20.558,38.282,22.962,45.659
                         c2.011,6.175,7.768,10.354,14.262,10.354c6.494,0,12.251-4.179,14.262-10.354c2.404-7.377,9.453-26.595,22.962-45.66
                         c15.06-21.255,41.647-46.593,82.776-46.593c29.621,0,56.66,12.171,76.137,34.27C471.395,115.957,482,145.521,482,177.351
                         C482,254.358,413.255,312.939,309.193,401.614z"/>
            </svg>
        </a>
        <a href="ba-lo-tre-em-dobg-148-1.html" title="BALO TH&#218; CƯNG- H&#192;NH TRANG CỦA B&#201; DOBG-148" class="product-transition">
            <img class="product-thumbnail lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" src="//bizweb.dktcdn.net/thumb/large/100/147/060/products/dobg-148-2.jpg?v=1631967220347" alt="BALO TH&#218; CƯNG- H&#192;NH TRANG CỦA B&#201; DOBG-148" />
        </a>
        <div class="product-info">
            <a href="ba-lo-tre-em-dobg-148-1.html" title="BALO TH&#218; CƯNG- H&#192;NH TRANG CỦA B&#201; DOBG-148" class="ant-item-product-name">BALO TH&#218; CƯNG- H&#192;NH TRANG CỦA B&#201; DOBG-148</a>
            <div class="product__price">


                <span class="price">379.000₫</span>


            </div>
        </div>
        <form action="https://petshop.vn/cart/add" method="post" enctype="multipart/form-data" class="group-buttons d-flex align-items-center justify-content-center variants form-nut-grid form-ajaxtocart" data-id="product-actions-22720042">


            <input type="hidden" name="variantId" value="50284985" />
            <a href="ba-lo-tre-em-dobg-148-1.html" class="action add_to_cart cart-button" rel="nofollow" title="Mua ngay">Mua ngay</a>


        </form>
    </div>
                            </div>


                            <div class="swiper-slide">













    -->
    <!--
    <div class="evo-product-block-item">
        <a href="javascript:void(0)" title="Yêu thích" data-handle="ba-lo-tre-em-dobg-257" class="action btn-compare js-btn-wishlist">
            <svg x="0px" y="0px"
                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <path d="M474.644,74.27C449.391,45.616,414.358,29.836,376,29.836c-53.948,0-88.103,32.22-107.255,59.25
                         c-4.969,7.014-9.196,14.047-12.745,20.665c-3.549-6.618-7.775-13.651-12.745-20.665c-19.152-27.03-53.307-59.25-107.255-59.25
                         c-38.358,0-73.391,15.781-98.645,44.435C13.267,101.605,0,138.213,0,177.351c0,42.603,16.633,82.228,52.345,124.7
                         c31.917,37.96,77.834,77.088,131.005,122.397c19.813,16.884,40.302,34.344,62.115,53.429l0.655,0.574
                         c2.828,2.476,6.354,3.713,9.88,3.713s7.052-1.238,9.88-3.713l0.655-0.574c21.813-19.085,42.302-36.544,62.118-53.431
                         c53.168-45.306,99.085-84.434,131.002-122.395C495.367,259.578,512,219.954,512,177.351
                         C512,138.213,498.733,101.605,474.644,74.27z M309.193,401.614c-17.08,14.554-34.658,29.533-53.193,45.646
                         c-18.534-16.111-36.113-31.091-53.196-45.648C98.745,312.939,30,254.358,30,177.351c0-31.83,10.605-61.394,29.862-83.245
                         C79.34,72.007,106.379,59.836,136,59.836c41.129,0,67.716,25.338,82.776,46.594c13.509,19.064,20.558,38.282,22.962,45.659
                         c2.011,6.175,7.768,10.354,14.262,10.354c6.494,0,12.251-4.179,14.262-10.354c2.404-7.377,9.453-26.595,22.962-45.66
                         c15.06-21.255,41.647-46.593,82.776-46.593c29.621,0,56.66,12.171,76.137,34.27C471.395,115.957,482,145.521,482,177.351
                         C482,254.358,413.255,312.939,309.193,401.614z"/>
            </svg>
        </a>
        <a href="ba-lo-tre-em-dobg-257.html" title="BALO TH&#218; CƯNG- H&#192;NH TRANG CỦA B&#201; DOBG-257" class="product-transition">
            <img class="product-thumbnail lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" src="//bizweb.dktcdn.net/thumb/large/100/147/060/products/dobg-257-1.jpg?v=1629201741113" alt="BALO TH&#218; CƯNG- H&#192;NH TRANG CỦA B&#201; DOBG-257" />
        </a>
        <div class="product-info">
            <a href="ba-lo-tre-em-dobg-257.html" title="BALO TH&#218; CƯNG- H&#192;NH TRANG CỦA B&#201; DOBG-257" class="ant-item-product-name">BALO TH&#218; CƯNG- H&#192;NH TRANG CỦA B&#201; DOBG-257</a>
            <div class="product__price">


                <span class="price">409.000₫</span>


            </div>
        </div>
        <form action="https://petshop.vn/cart/add" method="post" enctype="multipart/form-data" class="group-buttons d-flex align-items-center justify-content-center variants form-nut-grid form-ajaxtocart" data-id="product-actions-22720022">


            <input type="hidden" name="variantId" value="50284961" />
            <a href="ba-lo-tre-em-dobg-257.html" class="action add_to_cart cart-button" rel="nofollow" title="Mua ngay">Mua ngay</a>


        </form>
        -->
</div>
