@model BookStores.Models.Book

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Create", "Books", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="card" >
        <div class="card-body" style="margin-top: 90px">
            <h4>Thêm mới khách hàng</h4>
            <h2 style="color:red">@ViewBag.ThongBao</h2>
            <div class="m-t-15">
                <form id="form-validation">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label control-label">Tên Sách*</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" name="nameBooks">
                            @Html.ValidationMessageFor(m => m.nameBooks, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label control-label">Mô tả*</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" name="describe">
                            @Html.ValidationMessageFor(m => m.describe, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label control-label">Ảnh sách*</label>
                        <div class="col-md-5">
                            <input type="file" class="form-control" name="Thumb">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label control-label">Số lượng sách*</label>
                        <div class="col-md-5">
                            <input type="number" class="form-control" name="quantity">
                            @Html.ValidationMessageFor(m => m.quantity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label control-label">Giá sách*</label>
                        <div class="col-md-5">
                            <input type="number" class="form-control" name="price">
                            @Html.ValidationMessageFor(m => m.price, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label control-label">Danh mục sách*</label>
                        <div class="col-md-5">
                            @Html.DropDownList("idTopic", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label control-label">Nhà xuất bản*</label>
                        <div class="col-md-5">
                            @Html.DropDownList("idPublisher", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label control-label">Ngày thêm sách*</label>
                        <div class="col-md-5">
                            <input type="date" class="form-control" name="updateDay">
                            @Html.ValidationMessageFor(m => m.updateDay, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group text-left">
                        <button class="btn btn-success btn-tone m-r-5">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div>
            @Html.ActionLink("Quay về danh sách sách", "Index")
        </div>
    </div>
}
