@model BookStores.Models.Author

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="card" style="margin-top:75px;">
    <div class="card-body">
        <h4 class="card-title">Thông tin nhà xuất bản</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>Mã tác giả</td>
                        <td class="text-dark font-weight-semibold">@Html.DisplayFor(model => model.codeAuthor)</td>
                    </tr>
                    <tr>
                        <td>Tên tác giả</td>
                        <td>@Html.DisplayFor(model => model.nameAuthor)</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ</td>
                        <td>@Html.DisplayFor(model => model.address)</td>
                    </tr>
                    <tr>
                        <td>Tiểu sử</td>
                        <td>@Html.DisplayFor(model => model.story)</td>
                    </tr>
                    <tr>
                        <td>Số điện thoại</td>
                        <td>@Html.DisplayFor(model => model.phone)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.idAuthor }) |
    @Html.ActionLink("Back to List", "Index")
</p>